body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    text-align: center;
    padding: 40px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

.weather-box {
    background-color: white;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.error {
    color: red;
}
